@import "tailwindcss";

:root {
  --color-primary: #84c4b4;
  --color-primary-light: #a5d4c8;
  --color-primary-dark: #2a594d;
  --color-secondary: #7cbcb4;
  --color-muted: #adc9c3;

  --font-base: "Abhaya Libre", serif;
}

body {
  font-family: var(--font-base);
  font-size: 16px;
  line-height: 1;
}

button {
  cursor: pointer;
}